.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}

.row{
    flex-direction: row;
}

.col{
    flex-direction: column;
}

.col-r{
    flex-direction: column-reverse;
}

.justify-center{
    justify-content: center;    
}

.align-center{
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-nowrap{
    flex-wrap: nowrap;
}

.col-1{
    flex-grow: 1;
}

.col-2{
    flex-grow: 2;
}

.col-thirds .col-1{
    width: 20%;
}

.col-thirds .col-2{
    width: 66%;
}