:root {
    --dark-orange: rgb(167, 89, 21);
    --orange: rgb(255, 133, 27);
    --white: rgba(255,255,255);
    --grey: rgb(41, 41, 41);
    --light-grey: #efefef;
    --blue: #3c8dbc;
    --font-family: 'Open Sans', 'Roboto', 'Lato', sans-serif;
    --font-color: #131313;
    --border-color: rgba(150, 150, 150, 0.315);
    --bg-color: rgb(22, 39, 37);
    --default-color: #3c8dbc;
}