@import 'base';
@import 'vars';
@import 'animation';
@import 'cards';
@import 'icons';
@import 'flex';
@import 'nav';
@import 'pagination';

body{
    background-color: var(--light-grey);
    &.header-fixed{
        header{
            position: fixed;
            box-shadow: 0px 1px 4px #a1a1a1;        
        }
        
        main{
            margin-top: 4rem;
        }
    }    
}